*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
};
body{
    font-family: 'Droid Sans Bold', sans-serif;
};
.header{
    display: flex;
    width: 100%;
}
.menu{
    display: flex;
    background-color: #1e172f;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 64px;
}
.logo{
    box-sizing: border-box;
    margin-left: 13%;
    height: 100%;
}
.menu1 .l1{
    height: 35%;
    width: 10%;
    color: rgb(129, 131, 133);
    box-sizing: border-box;
    font-size: 109%;
    flex-wrap: nowrap;
    margin-top: 0.4%;
}
.l1:hover{
    color:rgb(255, 255, 255);
}
.menu1{
    display: flex;
    margin-right: 15%;
    box-sizing: border-box;
    width: 100%;
    justify-content:right;
    align-items:center;
    justify-items:center;
}
.descarga{
    box-sizing: border-box;
    height: 73%;
    width: 15%;
    font-size: 103%;
    border-radius:4%;
    border: 0;
    color: aliceblue;
    background: linear-gradient(90deg,#883fd5,#0772c0);
}
.descarga:hover{
    transform: scale(1.041);
}
/*Fin de header*/
/*Inicii de body*/
.pc{
    display: inline-flex;
    width: 100%;
}
.product{
    background-color: #2e2550;
    width: 49.7%;
    align-content: center;
    justify-items: center;
}
.desca:hover{
    transform: scale(1.041);
}
.carac:hover{
    transform: scale(1.041);
}
.page{
    margin-top: 12%;
    margin-bottom: 12%;
    padding-left: 27%;
}
.p1{
    line-height: 110%;
    font-size: 450%;
    color: white;
}
.p2{
    margin-top: 7%;
    font-size: 150%;
    color: white;
}
.des{
    display: flex;
    margin-top: 9%;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4.2%;
    flex-wrap: nowrap;
    width: fit-content;
}
.desca{
    border-radius: 12% solid;
    align-items: center;
    justify-items: center;
    margin: 4px;
    padding: 7px 24px 22px;
    height: 34px;
    color:#f53d9b;
}
.carac{
    border-radius: 5%;
    height: 34px;
    padding: 7px 30px 22px;
    margin: 4px;
    color: white;
    background-color: #1d0d36;
    border: 2px solid rgb(255, 255, 255);
}
.cell{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50.3%;
    height: 640px;
    background-repeat: no-repeat;
    background-image: url(../assets/hojasFondo.jpg);
    background-size: 178%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.capa{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(29, 13, 54, 0.4542030);
}
.cel{
    box-sizing: border-box;
    position:relative;
    height: 70%;
    margin-right: 28%;
    margin-top:11%;
    filter: brightness(110%);
}
.cp{
    background-color: #f1f2f7;
}
.fo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 400%;
    letter-spacing:2px;
    height: 180px;
    color:#f41687;
}
.dos{
    display: flex;
    flex-wrap: nowrap;
}
.comp{
    width: 60%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.compp{
    filter: brightness(105%);
    height: 85%;
    padding-left: 100px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.alp{
    justify-content: left;
    box-sizing: border-box;
    padding-right: 12px;
    width: 30%;
}
.mar{
    width:100%;
    margin-top: 2%;
}
.m1,.m2,.m3{
    color: #59595c;
    font-size: 18px;
}
.icon-check {
  color: #f1f2f7;
  border-radius:50%;
  border: 1px solid #f53d9b;
  background-color: #f53d9b;
  font-size: 90%;
  margin-right: 3%;
}

.c1{
    box-sizing: border-box;
    font-size: 300%;
    color: #c43a80;
}
.c2{
    margin-top: 8%;
    font-size: 20px;
    color: #59595c;
}
.c3{
    margin-top: 6%;
    color:#f41687;
    font-size: 25px;
}
.fa-minus{
    margin-right: 12px;
}
.planes {
    background-color: #1b103f;
    color: white;
    padding: 80px 40px;
    text-align: center;
}

.texto {
    max-width: 800px;
    margin: 0 auto 60px;
}

.texto h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.plans > div {
    background-color: white;
    color: #333;
    width: 300px;
    padding: 30px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.plans img {
    width: 50px;
    margin-bottom: 15px;
}

.plans h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.plans span {
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}
.lite h3{
    color: #ff007a;
}

.free,
.month,
.year {
    margin-bottom: 15px;
    font-size: 17px;
    color: #333;
    background-color: rgb(243, 243, 243);
    width: 115%;
}
li{
list-style: none;
}
.plans ul {
    margin: 15px 0;
    padding: 0;
    font-size: 15px;
}

.plans ul li {
    margin-bottom: 8px;
}

.plans p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.suscribe button{
    background-color: #1b1857;
    color: white;
    border: none;
    padding: 10px 22px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
}

.suscribe button:hover{
    background-color: #ff007a;
}

footer {
    background-color: #f5f5f5;
    padding: 30px 20px;
    font-size: 15px;
    color: #333;
  }
  .footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 6%;
  }
  footer p{
    text-align: left;
    margin: 0;
  }
  footer .miv {
    color: #ff007a;
    font-weight: bold;
  }
  
  footer .redes-sociales {
    display: flex;
    gap: 12px;
  }
  
  footer .redes-sociales img {
    width: 37px;
    height: 22px;
    transition: 0.2s ease;
    cursor: pointer;
  }
/* Media Queries*/

@media(max-width: 1279px){
    .logo{
        box-sizing: border-box;
        margin-left: 10%;
        height: 100%;
    }
    .menu1 .l1{
        width: 12%;
        font-size: 110%;
    }
    .menu1{
        margin-right: 10%;
    }
    .cell{
        background-size: 211.1%;
    }
    .fo{
        height: 150px;
    }
    .compp{
        height: 55%;
        padding-left: 90px;
    }
}
@media(max-width: 920px){
    .logo{
        margin-left: 10%;
    }
    .menu1 .l1{
        width: 13%;
        font-size: 100%;
    }
    .descarga{
        height: 63%;
        font-size: 89%;
    }
    .menu1{
        margin-right: 10%;
    }
    .des{
        margin-top: 9%;
        border-radius: 4.2%;
        width:fit-content;
    }
    .desca{
        padding: 7px 14px 22px;
    }
    .cell{
        background-size: 257.8%;
    }
    .fo{
        height: 100px;
        font-size: 300%;
    }
    .compp{
        height: 60%;
        padding-left: 5%;
    }
    .mar{
        width:110%;
    }
    .m1,.m2,.m3{
        font-size: 18px;
    }
    .c1{
        font-size: 240%;
    }
}
@media(max-width: 768px){
    .logo{
        margin-left: 2%;
    }
    .menu1 .l1{
        width: 18%;
        font-size: 80%;
    }
    .menu1{
        margin-right: 5%;
    }
    .cell{
        background-size: 396.5%;
    }
    .cel{
        height: 49%;
        margin-top:11%;
    }
    .descarga{
        height: 43%;
        font-size: 55%;
        box-sizing: border-box;
    }
   .page{
        margin-top: 12%;
        margin-bottom: 12%;
        padding-left: 10%;
    }
    .p1{
        line-height: 110%;
        font-size: 350%;
        color: white;
    }
    .p2{
        margin-top: 7%;
        font-size: 100%;
        color: white;
    }
    .desca{
        padding: 7px 2px 22px;
        font-size: 70%;
        width: 150px;
        margin: 2px; 
    }
    .carac{
        padding: 7px 2px 22px;
        width: 70%;
        font-size: 70%;
        margin: 2px ;
    }
    .fo{
        height: 100px;
        font-size: 250%;
    }
    .comp{
        width: 45%;
    }
    .compp{
        height: 36%;
        padding-left: 12px;
    }
    .alp{
        box-sizing: border-box;
        padding: 32px 0px 0px 23px;
        width: 46%;
    }
    .mar{
        width:120%;
    }
    .m1,.m2,.m3{
        font-size: 13px;
    }
    .c1{
        font-size: 160%;
    }
    .redes-sociales{
        margin-left: 100px;
    }
    .footers p{
        margin-left: 40px;
    }

}
@media(max-width: 480px){
    .header{
        height: 40px;
    }
    .logo{
        margin-left: 2%;
        height: 60%;
    }
    .pc{
        height: 449px;
    }
    .menu1 .l1{
        height: 65%;
        width: 21%;
        font-size: 80%;
    }
    .menu1{
        margin-right: 3%;
    }
    .cell{
        background-position-y: 0%;
        background-size: 380.5%;
        height: 449px;
    }
    .cel{
        margin-right: 28%;
        height: 51%;
        margin-top:11%;
    }
    .produc{
        color: #ff007a;
        height: 500px;
    }
    .page{
    padding-left: 10%;
    }
    .descarga{
        display: none;
    }
    .p1{
        line-height: 110%;
        font-size: 270%;
        color: white;
    }
    .p2{
        margin-top: 7%;
        font-size: 70%;
        color: white;
    }
    .des{
        border: none;
        flex-wrap: wrap;
    }
    .desca{
        width: 70%;
    }
    .fo{
        height: 100px;
        font-size: 230%;
    }
    .dos{
        flex-wrap: wrap;
    }
    .comp{
        width: 100%;
        height: 300px;
        
    }
    .compp{
        height: 36%;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .alp{
        padding: 2px 20px 0px 30px;
        width: 90%;
        flex-wrap: wrap;
        height: 260px;
    }
    .mar{
        width:100%;
    }
    .c1{
        font-size: 180%;
    }
    .c2{
        font-size: 100%;
    }
    .redes-sociales{
        margin-left: 30px;
    }
}